.wrapper {
    margin: 10px 80px;
    transition: 0.5s linear;
}

.wrapper.show {
    padding-left: 300px;
}

.hamburger {
    position: absolute;
    top: 40px;
    right: 40px;
    line-height: 50px;
    font-size: 40px;
    cursor: pointer;
    transition: 0.5s linear;
}


.hamburger:hover {
    cursor: pointer;
}

.hamburger.active+aside {
    left: 0;
}

aside {
    position: absolute;
    left: -300px;
    top: 0;
    bottom: 0;
    width: 300px;
    background-color: black;
    transition: 0.5s linear;
}

.fas {
    display: none;
}

i.show {
    display: block;
}

aside.show {
    left: 0;
}